@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
html,
body {
    font-size: 16px;
    background-color: #f0ead2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 400px;
    padding: 3rem 1rem 2rem 1rem;
    gap: 2rem;
    background-color: #fefae0 ;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #f4f3ee;
    animation: sliding 5s ease;
}

h1{
    color:#f72585;
    text-shadow: 0px 4px 10px #f72585;
    animation: sliding 2s ease;
}
@keyframes sliding{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.box input {
    padding: 14px 20px;
    width: 300px;
    border-radius: 12px;
    border: none;
}
.box input:focus{
    outline: none;
    border: 2px solid #f72585;
}
button{
    width: 300px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #f72585;
    border: none;
    border-radius: 12px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    background: linear-gradient(45deg , #b5179e, #f72585);
}
button:hover{
    transform:  translateY(-5px);
    background: linear-gradient(45deg, #f72585,#b5179e);
}
.result{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(255,255,255,0.1) ;
    backdrop-filter: blur(10px);
    color: pink;
    font-size: 2rem;
    color: #f72585;
    border-radius: 12px;
}
.active{
    display: flex;
}
.background-active{
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);

}
@media (max-width: 480px) {
  .box {
    width: 90%;
    padding: 2rem 1rem;
  }

  .box input,
  button {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .result {
    font-size: 1.1rem;
    padding: 1rem;
  }
}


